.signup-form {
	input:not([type]), input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], input[type="color"], textarea {
		margin-bottom: 0;
	}
	label {
		margin-bottom: 0;
	}
	.row + .row {
		margin-top: 17px;
	}
	button[type=submit] {
		margin-top: 15px;
		height: 38px;
		padding-left: rem-calc(30);
		padding-right: rem-calc(30);
	}
}