<!-- why-we.html -->
{% extends "2016/base.html" %}
{% load thumbnail %}
{% load banner_list %}
{% load staticfiles %}
{% block content %}
    {% spaceless %}
        <div class="breadcrumbs">
          <div class="row">
            <ul>
              <li><a href="/">Главная</a></li>
              <li><a href="/o-nas/">О нас</a></li>
              <li class="current"><span>{{ page.name }}</span></li>
            </ul>
          </div>
        </div>
        <style>
        .block.block--tests .item .title{padding-top:0px!important;}
      </style>
        <div class="content">
        <div class="block block--tests">
          <div class="row">
            <h1 class="block_title">Акции</h1>
            
            <div class="block_sub-title">
              {{ page.body|safe }}
            </div>
            
            <div class="row">
              <div class="columns small-12 medium-4 item">
                <div class="img"><img src="{% static '2016/images/icon--bonus-box.png' %}" width="80" height="85"></div>
                <div class="text">При заказе строительства под <span>ключ</span></div>
                <div class="sub">вы получите архитектурный проект в подарок!</div>
              </div>
              <div class="columns small-12 medium-4 item">
                <div class="img"><img src="{% static '2016/images/icon--bonus-perc.png' %}" width="110" height="72"></div>
                <div class="text">Мы предоставляем 50%-ю скидку</div>
                <div class="sub">на архитектурно-конструктивный проект при заказе строительства</div>
              </div>
              <div class="columns small-12 medium-4 item">
                <div class="img"><img src="{% static '2016/images/icon--bonus-3d.png' %}" width="129" height="83"></div>
                <div class="text">3D-моделирование в подарок</div>
                <div class="sub">при заказе архитектурного проекта дома площадью свыше 250 м2</div>
              </div>
            </div>
          </div>
        </div>
        </div>
    {% endspaceless %}
{% endblock content %}
{% block head_title %}{{ page.title }}{% endblock %}
