<!-- architectural-design.html -->
{% extends "2016/base.html" %}
{% load thumbnail %}
{% load banner_list %}
{% load staticfiles %}
{% load humanize %}
{% block content %}
    {% spaceless %}
    
        <div class="block block--page-header block--parralax" style="background-image: url({{ parralaxs.proekt1.img.url }});" {% include "2016/_parralax_settings.html" %} >
          <div class="wrapper">
            <div class="content">
              <div class="img"><img src="{% static '2016/images/icon--service-arh--white.png' %}" width="91" height="91"></div>
              <h1 class="title"><span>{{ page.h1 }}</span></h1>
              {{ page.body|safe }}
              <button class="btn btn--trans js__call-order">Заказать звонок</button>
            </div>
          </div>
        </div>
        
        <div class="breadcrumbs">
          <div class="row">
            <ul>
              <li><a href="/">Главная</a></li>
              {% comment %}<li><a href="#">Услуги и цены</a></li>{% endcomment %}
              <li class="current"><span>{{ page.name }}</span></li>
            </ul>
          </div>
        </div>
        
        <div class="block block--qq" style="background-image: url({{ parralaxs.pie.img.url }})">
          <div class="row">
            <div class="row">
              <div class="content columns small-12 medium-8">
                <h2 class="title">{{ chunks.proektirovanie1.h2 }}</h2>
                {{ chunks.proektirovanie1.body|safe }}
                <div class="controls">
                  <button class="btn js__project-order">Заказать проект</button>
                  <span>Закажите сейчас проект дома который<br/>подойдет именно вам.</span>
                </div>
              </div>
              
            </div>
            
          </div>
        </div>
        
        <div id="divscrolls">
      		<div class="scrollingHotSpotLeft" style="opacity: 0.35;">
      			<svg xmlns="http://www.w3.org/2000/svg" width="24.906" height="46" viewBox="0 0 24.906 46"><path id="left" class="cls-1" d="M408.2,1471.52a1.637,1.637,0,0,0,2.329-2.3l-20.477-20.23,20.477-20.22a1.614,1.614,0,0,0,0-2.3,1.653,1.653,0,0,0-2.329,0l-21.641,21.37a1.612,1.612,0,0,0,0,2.3Z" transform="translate(-386.094 -1426)"/></svg>
      		</div>
      		<div class="scrollingHotSpotRight" style="opacity: 0.35;">
      			<svg xmlns="http://www.w3.org/2000/svg" width="24.906" height="46" viewBox="0 0 24.93 45.99"><path id="left" class="cls-1" d="M2.79.45A1.64,1.64,0,0,0,.46,2.75L20.94,23,.46,43.2a1.61,1.61,0,0,0,0,2.28l0,0a1.65,1.65,0,0,0,2.33,0L24.43,24.13a1.61,1.61,0,0,0,0-2.28l0,0Z" transform="translate(0.02 0.01)"/></svg>
      		</div>
      		<div class="scrollWrapper">
          	<div class="scrollableArea" style="width: 10800px;">
                {% for slider in sliders %}
                    {% thumbnail slider.img "706x500"  quality=70 crop="center" as photo %}
                    <div title="{{ slider.title }}">
                        <img src="{{ photo.url }}" alt="{{ slider.alt }}"/>
                    </div>
                    {% endthumbnail %}
                {% endfor %}
            </div>
      		</div>
        </div>
        
        <div class="block block--price">
          <div class="row">
            <h2 class="block_title">Варианты архитектурного<br/>проектирования и цены</h2>
            <div class="prices row">
                {% for price in prices %}
              <div class="price columns small-12 medium-4">
                <div class="title">{{ price.name }}</div>
                <div class="cost">от <span>{{ price.price|intcomma }}</span> ₽/м²</div>
                <div class="time">{{ price.descr  }}</div>
                <button class="btn js__project-order">Заказать</button>
              </div>
                {% endfor %}
            {% comment %}
              <div class="price columns small-12 medium-4">
                <div class="title">Корректировка готового проекта</div>
                <div class="cost">от <span>600</span> ₽/м²</div>
                <div class="time">от 2 месяца</div>
                <button class="btn js__project-order">Заказать</button>
              </div>
              <div class="price columns small-12 medium-4">
                <div class="title">Готовый проект</div>
                <div class="cost">от <span>200</span> ₽/м²</div>
                <div class="time">от 1 дня</div>
                <button class="btn js__project-order">Заказать</button>
              </div>
              {% endcomment %}
            </div>
          </div>
        </div>
        
        <div class="block block--text block--parralax" style="background-image: url({{ parralaxs.proekt2.img.url }});" {% include "2016/_parralax_settings.html" %}>
          <div class="wrapper">
            <div class="content">{{ chunks.proektirovanie2.body|safe }}</div>
          </div>
        </div>
        
        <div class="block block--bonuses">
          <div class="row">
            <h2 class="block_title">Приятные бонусы</h2>
            <div class="block_sub-title">Мы ценим каждого клиента, обратившегося в <span>компанию</span> «Брусвянка».<br/> За оказанное доверие вас ждет ряд специальных предложений.</div>
            <div class="row">
              <div class="columns small-12 medium-4 item">
                <div class="img"><img src="{% static '2016/images/icon--bonus-box.png' %}" width="80" height="85"></div>
                <div class="text">При заказе строительства под <span>ключ</span></div>
                <div class="sub">вы получите архитектурный проект в подарок!</div>
              </div>
              <div class="columns small-12 medium-4 item">
                <div class="img"><img src="{% static '2016/images/icon--bonus-perc.png' %}" width="110" height="72"></div>
                <div class="text">Мы предоставляем 50%-ю скидку</div>
                <div class="sub">на архитектурно-конструктивный проект при заказе строительства</div>
              </div>
              <div class="columns small-12 medium-4 item">
                <div class="img"><img src="{% static '2016/images/icon--bonus-3d.png' %}" width="129" height="83"></div>
                <div class="text">3D-моделирование в подарок</div>
                <div class="sub">при заказе архитектурного проекта дома площадью свыше 250 м2</div>
              </div>
            </div>
          </div>
        </div>
        
        <div class="block block--exa">
          <div class="wrapper">
            <div class="block_title">
              Пример анимации
            </div>
            <div class="content">
              <div id="flash138" style="width: 650px;height: 460px"></div>
            </div>
          </div>
        </div>
      
        <div class="block block--steps block--parralax" style="background-image: url({{ parralaxs.proekt3.img.url }});" {% include "2016/_parralax_settings.html" %}>
          <div class="row">
            <h2 class="block_title"><span>Этапы</span> проектирования и оплаты<br/>Как это происходит</h2>
            <div class="content">
              <div class="row">
                <div class="columns small-12 medium-4 item">
                  <div class="img"><img src="{% static '2016/images/icon--steps-1.png' %}" width="80" height="80" /></div>
                  <div class="title"><span>Разработка</span>концепции - внесение 50% оплаты:</div>
                  <ul>
                    <li>Озвучивание пожеланий заказчиком, согласование с ним деталей.</li>
                    <li>Составление планов этажей коттеджа с расстановкой мебели.</li>
                    <li>Визуализация фасадов здания.</li>
                    <li>Проработка расположения дома на участке.</li>
                  </ul>
                </div>
                <div class="columns small-12 medium-4 item">
                  <div class="img"><img src="{% static '2016/images/icon--steps-2.png' %}" width="80" height="80" /></div>
                  <div class="title">Моделирование дома — внесение 30% от суммы:</div>
                  <ul>
                    <li>Проработка лицевой стороны дома и разрезов с высотными отметками.</li>
                    <li>Подбор оттенка фасада и материалов;</li>
                    <li>Предварительное 3D-моделирование.</li>
                  </ul>
                </div>
                <div class="columns small-12 medium-4 item">
                  <div class="img"><img src="{% static '2016/images/icon--steps-3.png' %}" width="80" height="80" /></div>
                  <div class="title">Готовый проект — внесение 20% от стоимости проекта.</div>
                  <ul>
                    <li>Составление всех финальных чертежей (планы, фасады, разрезы, кровля, маркировки и спецификации дверных и оконных проемов).</li>
                    <li>Окончательное 3D-моделирование — конструктивные и объемно-планировочные решения.</li>
                    <li>Подготовка альбома.</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        
        <div class="block block--listing">
          <div class="row">
            <h2 class="block_title">Что входит в проект </h2>
            <div class="block_sub-title">Состав архитектурного проекта:</div>
            
            <div class="row">
              <div class="columns small-12 medium-4">
                <ul>
                  <li>Общие данные (<span>состав</span> проекта, конструктивная схема и пояснительная записка).</li>
                  <li>План привязки и расположения дома на участке.</li>
                  <li>Архитектурные планы этажей с указанием площадей и расстановкой мебели.</li>
                  <li>Строительные планы этажей с размерами и осями.</li>
                </ul>
              </div>
              <div class="columns small-12 medium-4">
                <ul>
                  <li>Архитектурные фасады с указанием выбранного цветового решения и материалов.</li>
                  <li>Строительные фасады с указанием высотных отметок и линейных размеров.</li>
                  <li>Разрезы.</li>
                  <li>План кровли с указанием точек водоотведения.</li>
                </ul>
              </div>
              <div class="columns small-12 medium-4">
                <ul>
                  <li>Планы маркировок оконных и дверных проемов, их спецификация.</li>
                  <li>Узлы и «пироги» (состав стен, кровли и других элементов).</li>
                  <li>3D-моделирование.</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        
    {% endspaceless %}
{% endblock content %}
{% block head_title %}{{ page.title }}{% endblock %}
{% block js_footer %}
<script src="/static/js/flashembed.min.js" type="text/javascript"></script>
<script>
 $(document).ready(function() {
    var f = '{% get_flash 'flash1' '/static/krutilka.swf' %}';
    $("#flash138").flashembed({src: f, width: "650px", height: "460px", wmode:"opaque"});
  });
</script>
{% endblock %}
