<!-- interior-design.html -->
{% extends "2016/base.html" %}
{% load thumbnail %}
{% load banner_list %}
{% load staticfiles %}
{% load humanize %}
{% block content %}
    {% spaceless %}
    
        <div class="block block--page-header block--parralax" style="background-image: url({{ parralaxs.dizain1.img.url }})" {% include "2016/_parralax_settings.html" %}>
          <div class="wrapper">
            <div class="content">
              <div class="img"><img src="{% static '2016/images/icon--service-int--white.png' %}" alt="icon--service-int--white" width="81" height="81"></div>
              <h1 class="title"><span>{{ page.h1 }}</span></h1>
              {{ page.body|safe }}

              <button class="btn btn--trans js__call-order btn-call-order-fix">Заказать реконструкцию дома</button>
              <style>
                    .btn-call-order-fix{
                      margin-bottom: 75px;
                      margin-top: 25px;
                      height: 65px;
                      line-height: 65px;
                      padding: 0 100px;                      
                    }
                    @media only screen and (max-width: 45.71429em) {
                      .btn-call-order-fix{

                      }
                    }
               </style>

            </div>
          </div>
        </div>
        
        <div class="breadcrumbs">
          <div class="row">
            <ul>
              <li><a href="/">Главная</a></li>
              {% comment %}<li><a href="#">Услуги и цены</a></li>{% endcomment %}
              <li class="current"><span>{{ page.name }}</span></li>
            </ul>
          </div>
        </div>
        
        <div class="block block--secret block--secret--v2 block--secret--v21"  style="background-image: url({{ parralaxs.die.img.url }})">
          <div class="row">
            <div class="row">
              <div class="content columns small-12 medium-8">
                <h2 class="title">{{ chunks.dizain1.h2 }}</h2>
                {{ chunks.dizain1.body|safe }}
                <div class="controls">
                  <button class="btn js__project-order">Заказать</button>
                  <span>Закажите сейчас реконструкцию дома ,<br /> который подойдет именно вам.</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        
        <div class="block block--text--v41">
          <div class="wrapper">
            <h2 class="title">{{ chunks.dizain2.h2 }}</h2>
            <div class="content">{{ chunks.dizain2.body|safe }}</div>
          </div>
        </div>
        
        <div id="divscrolls">
      		<div class="scrollingHotSpotLeft" style="opacity: 0.35;">
      			<svg xmlns="http://www.w3.org/2000/svg" width="24.906" height="46" viewBox="0 0 24.906 46"><path id="left" class="cls-1" d="M408.2,1471.52a1.637,1.637,0,0,0,2.329-2.3l-20.477-20.23,20.477-20.22a1.614,1.614,0,0,0,0-2.3,1.653,1.653,0,0,0-2.329,0l-21.641,21.37a1.612,1.612,0,0,0,0,2.3Z" transform="translate(-386.094 -1426)"/></svg>
      		</div>
      		<div class="scrollingHotSpotRight" style="opacity: 0.35;">
      			<svg xmlns="http://www.w3.org/2000/svg" width="24.906" height="46" viewBox="0 0 24.93 45.99"><path id="left" class="cls-1" d="M2.79.45A1.64,1.64,0,0,0,.46,2.75L20.94,23,.46,43.2a1.61,1.61,0,0,0,0,2.28l0,0a1.65,1.65,0,0,0,2.33,0L24.43,24.13a1.61,1.61,0,0,0,0-2.28l0,0Z" transform="translate(0.02 0.01)"/></svg>
      		</div>
      		<div class="scrollWrapper">
          	<div class="scrollableArea" style="width: 10800px;">
                {% for slider in sliders %}
                    {% thumbnail slider.img "706x500"  quality=70 crop="center" as photo %}
                    <div title="{{ slider.title }}">
                        <img src="{{ photo.url }}" alt="{{ slider.alt }}"/>
                    </div>
                    {% endthumbnail %}
                {% endfor %}
            </div>
      		</div>
        </div>
        
        <div class="block block--price block--price--v3">
          <div class="row">
            <h2 class="block_title">Варианты реконструкции и цены</h2>
            <div class="prices row">
                {% for price in prices %}
              <div class="price columns small-12 medium-4">
                <div class="title">«{{ price.name }}»
                  
                  <div class="subtitle">{{ price.descr }}</div>
                </div>
                
                <div class="cost"><span>{{ price.price|intcomma }}</span> ₽/м²</div>
                <button class="btn js__project-order">Заказать</button>
              </div>
                {% endfor %}
            {% comment %}
              <div class="price columns small-12 medium-4">
                <div class="title">«Эскизный»
                  
                  <div class="subtitle">«Концепт» + рабочие чертежи</div>
                </div>
                
                <div class="cost"><span>2500</span> ₽/м²</div>
                <button class="btn js__project-order">Заказать</button>
              </div>
              <div class="price columns small-12 medium-4">
                <div class="title">«Рабочий»
                  
                  <div class="subtitle">«Эскизный» + спецификации отделочных материалов, мебели, светильников, сантехники</div>
                </div>
                
                <div class="cost"><span>3500</span> ₽/м²</div>
                <button class="btn js__project-order">Заказать</button>
              </div>
              {% endcomment %}
            </div>
          </div>
        </div>
        
        <div class="block block--text block--text--v31 block--parralax" style="background-image: url({{ parralaxs.dizain2.img.url }})" {% include "2016/_parralax_settings.html" %}>
          <div class="wrapper">
            <div class="content">{{ chunks.dizain3.body|safe }}</div>
          </div>
        </div>
        
        <div class="block block--bonuses block--bonuses-v3">
          <div class="row">
            <h2 class="block_title">Приятные бонусы</h2>
            <div class="block_sub-title">Мы очень ценим наших клиентов, поэтому приготовили для вас<br/> много приятных бонусов, скидок и подарков.</div>
            <div class="row">
              <div class="columns small-12 medium-4 item">
                <div class="img"><img src="{% static '2016/images/icon--bonus-perc--25.png' %}" alt="icon--bonus-perc--25" width="112" height="72"></div>
                <div class="text">При заказе отделочных работ —</div>
                <div class="sub">скидка на дизайн-проект 25%</div>
              </div>
              <div class="columns small-12 medium-4 item">
                <div class="img"><img src="{% static '2016/images/icon--bonus-box.png' %}" alt="icon--bonus-box" width="80" height="85"></div>
                <div class="text">При заказе реконструкции —</div>
                <div class="sub">архитектурный надзор <span>бесплатно!</span></div>
              </div>
              <div class="columns small-12 medium-4 item">
                <div class="img"><img src="{% static '2016/images/icon--bonus-3d.png' %}" alt="icon--bonus-3d" width="129" height="83"></div>
                <div class="text">При площади дома свыше 150 м²</div>
                <div class="sub">3D-анимация <span>В ПОДАРОК!</span></div>
              </div>
            </div>
          </div>
        </div>
        
        <div class="block block--exa">
          <div class="wrapper">
            <div class="block_title">
              Пример анимации
            </div>
            <div class="content" style="background:url('/media/images/pics/rekonstrukciya/intro.jpg') left center no-repeat;">
              <div id="flash138" style="width: 650px;height: 460px"></div>
            </div>


            <style type="text/css">
            div.inline { float:left; ;vertical-align:middle; width:25%; height:50px; padding: 0px 10px; margin-top:10px; margin-bottom:10px; padding-left:60px;}
           
            div.inline-in {  height:50px; display:table-cell;   vertical-align:middle; }
            div.inline-block { margin-top:50px;}
            div.inline a { color: #333333;  }
            div.inline a:hover { text-decoration: underline; text-decoration-style: dashed; }   
           
            .clearBoth { clear:both; }
            </style>
 

            <div class="inline-block">
               <div class="inline" style="background:url('/media/images/pics/rekonstrukciya/1.jpg') left center no-repeat;"><div class="inline-in"><a href="/rekonstrukciya/vosstanovlenie-fundament-doma/">Восстановление фундамента</a></div></div>
               <div class="inline" style="background:url('/media/images/pics/rekonstrukciya/3.jpg') left center no-repeat;"><div class="inline-in"><a href="/rekonstrukciya/vosstanovlenie-doma-posle-pozhara/">Восстановление дома после пожара</a></div></div>
               <div class="inline" style="background:url('/media/images/pics/rekonstrukciya/4.jpg') left center no-repeat;"><div class="inline-in"><a href="/rekonstrukciya/vosstanovlenie-derevjannyh-domov/">Восстановление деревянных домов</a></div></div>
               <div class="inline" style="background:url('/media/images/pics/rekonstrukciya/5.jpg') left center no-repeat;"><div class="inline-in"><a href="/rekonstrukciya/vosstanovlenie-derevenskogo-doma/">Восстановление деревенского дома</a></div></div>
               <div class="inline" style="background:url('/media/images/pics/rekonstrukciya/2.jpg') left center no-repeat;"><div class="inline-in"><a href="/rekonstrukciya/kryshi-chastnogo-doma/">Реконструкция крыши частного дома</a></div></div>
               <div class="inline" style="background:url('/media/images/pics/rekonstrukciya/6.jpg') left center no-repeat;"><div class="inline-in"><a href="/rekonstrukciya/derevyannykh-domov/">Достройка и реконструкция деревянных домов</a></div></div>
               <div class="inline" style="background:url('/media/images/pics/rekonstrukciya/7.jpg') left center no-repeat;"><div class="inline-in"><a href="/rekonstrukciya/starogo-doma/">Реконструкция старых домов - ветхих и аварийных</a></div></div>
               <div class="inline" style="background:url('/media/images/pics/rekonstrukciya/8.jpg') left center no-repeat;"><div class="inline-in"><a href="/rekonstrukciya/sgorevshego-doma/">Реконструкция сгоревшего дома</a></div></div>
               <div class="inline" style="background:url('/media/images/pics/rekonstrukciya/9.jpg') left center no-repeat;"><div class="inline-in"><a href="/rekonstrukciya/kottedzhej/">Реконструкция коттеджей</a></div></div>
               <div class="inline" style="background:url('/media/images/pics/rekonstrukciya/10.jpg') left center no-repeat;"><div class="inline-in"><a href="/rekonstrukciya/karkasnogo-doma/">Реконструкция каркасного дома</a></div></div>
               <div class="inline" style="background:url('/media/images/pics/rekonstrukciya/11.jpg') left center no-repeat;"><div class="inline-in"><a href="/rekonstrukciya/i-pristrojka-k-domu/">Реконструкция части дома</a></div></div>
               <div class="inline" style="background:url('/media/images/pics/rekonstrukciya/12.jpg') left center no-repeat;"><div class="inline-in"><a href="/rekonstrukciya/fundamenta-derevyannogo-doma/">Реконструкция фундамента деревянного дома</a></div></div>
               <div class="inline" style="background:url('/media/images/pics/rekonstrukciya/13.jpg') left center no-repeat;"><div class="inline-in"><a href="/rekonstrukciya/domov-iz-brusa/">Реконструкция домов из бруса</a></div></div>
               <div class="inline" style="background:url('/media/images/pics/rekonstrukciya/14.jpg') left center no-repeat;"><div class="inline-in"><a href="/rekonstrukciya/doma-v-derevne/">Реконструкция дома в деревне</a></div></div>
               <div class="inline" style="background:url('/media/images/pics/rekonstrukciya/15.jpg') left center no-repeat;"><div class="inline-in"><a href="/rekonstrukciya/dachnogo-doma/">Достройка и реконструкция дачных домов</a></div></div>
               <div class="inline" style="background:url('/media/images/pics/rekonstrukciya/16.jpg') left center no-repeat;"><div class="inline-in"><a href="/rekonstrukciya/chastnogo-doma/">Реконструкция частного дома</a></div></div>
               <div class="inline"><div class="inline-in"></div></div>
               <div class="inline" style="background:url('/media/images/pics/rekonstrukciya/17.jpg') left center no-repeat;"><div class="inline-in"><a href="/rekonstrukciya/brevenchatogo-doma/">Реконструкция бревенчатого дома</a></div></div>
               <div class="inline" style="background:url('/media/images/pics/rekonstrukciya/18.jpg') left center no-repeat;"><div class="inline-in"><a href="/rekonstrukciya/bani/">Реконструкция бани</a></div></div>
               <div class="inline"><div class="inline-in"></div></div>
              </div>
           

          </div>
        </div>
        
    {% endspaceless %}
{% endblock content %}
{% block head_title %}{{ page.title }}{% endblock %}
{% block js_footer %}
<script src="/static/js/flashembed.min.js" type="text/javascript"></script>
<script>
 $(document).ready(function() {
    var f = '{% get_flash 'flash2' '/static/krutilka.swf' %}';
    $("#flash138").flashembed({src: f, width: "650px", height: "460px", wmode:"opaque"});
  });
</script>
{% endblock %}
