.companies {
	
	padding-bottom: 45px;
	border-bottom: solid 1px #E5E5E5;
	
	.company {
		@include clearfix();
		margin: 0 (-(rem-calc(20)/2));
		
		& + .company {
			margin-top: 45px;
		}
		
		&_logo {
			width: 10.152284263959391%;
			padding: 0 (rem-calc(20)/2);
			float: left;
		}
		&_details {
			width: 62.605752961082906%;
			padding: 0 (rem-calc(20)/2);
			float: left;
			
			h2 {
				font-size: 22px;
			    line-height: 22px;
			    font-weight: 600;
			    margin-top: 0;
			    
			    a {
				    color: #000;
					&:hover {
						color: #60A5EA;
					}
			    }
			}
			&_list {
				margin-bottom: 13px;
				padding-top: 3px;
				font-size: rem-calc(13);
			}
		}
			&_name {
				color: #60A5EA;
				position: relative;
				&:hover {
					color: #0277BD;
					.icon {
						fill: #0277BD;
					}
				}
				.icon {
					display: inline-block;
					fill: #63A4F0;
					margin-right: 4px;
				}
			}
			&_location {
				color: #7F7F7F;
				display: inline-block;
				margin-left: 20px;
			}
			&_heading {
				color: #333333;
				display: inline-block;
				margin-left: 24px;
			}
			&_controls {
				.button {
					margin-bottom: 0;
				    font-size: 13px;
				    letter-spacing: 1px;
				}
			}
			
			
		&_post-counter {
			width: 9.72927241962775%;
			padding: 0 (rem-calc(20)/2);
			float: left;
			
			color: #60A5EA;
		    font-size: 22px;
		    line-height: 22px;
		}
		&_karma {
			width: 9.72927241962775%;
			padding: 0 (rem-calc(20)/2);
			float: left;
			
			color: #60A5EA;
		    font-size: 22px;
		    line-height: 22px;
		}
		&_rating {
			width: 7.7604060913705585%;
			padding: 0 (rem-calc(20)/2);
			float: left;
			
			color: #60A5EA;
		    font-size: 22px;
		    line-height: 22px;
		}
	}
	
	&_header {
		@include clearfix();
		margin: 0 (-(rem-calc(20)/2)) 10px;
		
		.company_post-counter,
		.company_karma,
		.company_rating {
			color: #B2B2B2;
			text-align: left;
			font-size: 13px;
			line-height: 13px;			
		}
	}
}