#id_title, #id_keyword, #id_description, #id_url, #id_h1, #id_name {
   width: 812px;
}

.ui-state-highlight {background-color: #aa0000;height: 260px;}

#tagproject_set-group .ui-state-highlight {background-color: #aa0000;height: 100px;}
#articletag_set-group .ui-state-highlight {background-color: #aa0000;height: 100px;}