.icon {
	width: 16px;
	height: 16px;
	display: inline-block;
	vertical-align: middle;
	position: relative;
	top: -1px;
}

.post-item {
	.icon-user {
		fill: #60A5E9;
		margin-left: -1px;
	}
	.icon-repost {
		width: 24px;
	    height: 24px;
	    fill: #60A5E9;
        margin-left: 5px;
	    margin-right: 5px;
	}
}

.listing_item-actions {
	svg.icon {
		width: 24px;
		height: 24px;
		fill: #B3B3B3;
	}
	button:hover {
		svg.icon {
			fill: #808080;
		}
	}
}



.field.field-search {
	.icon-search {
		width: 13px;
		height: 13px;
		fill: #D7D7D7;
		top: 0;

		-webkit-transition: fill 0.3s;
		-moz-transition: fill 0.3s;
		-o-transition: fill 0.3s;
		transition: fill 0.3s;
	}
	button:hover {
		.icon-search {
			fill: #7F7F7F;
		}
	}
}

.user-menu {
	.icon {
		fill: #60A5E9;
		
		&.icon-close {
			width: 10px;
			height: 10px;
		}
		&.icon-feed,
		&.icon-bell,
		&.icon-mail,
		&.icon-logout {
			width: 24px;
			height: 24px;		
		}
	}
}

.field-comment-file {
	.icon-file {
		fill: #A3A3A3;
		width: 16px;
		height: 14px;
	}
	&:hover {
		.icon-file {
			fill: #939393;
		}
	}
}

.comment-rating {
	.icon {
		width: 10px;
		height: 16px;
		fill: #E2E2E2;

		-webkit-transition: fill 300ms;
		-moz-transition: fill 300ms;
		-o-transition: fill 300ms;
		transition: fill 300ms;

		&.icon-rating-up {
			&:hover {
				fill: #C3EF00;
			}
		}
		&.icon-rating-down {
			&:hover {
				fill: #EFD300;
			}
		}
	}
}

.post-create_preview-img {
	.icon {
		width: 190px;
		height: 128px;
		fill: #E0E0E0;	
		
		-webkit-transition: all 500ms;
		-moz-transition: all 500ms;
		-o-transition: all 500ms;
		transition: all 500ms;
	}
	
	&:hover {
		.icon {
			fill: white;
			
		}
	}
}

.listing_item-name {
	svg.icon.icon-group {
    	width: 25px;
	}
}

.soda-chat_send-msg {
	.icon {
		fill: #9E9E9E;
		
		@include single-transition(fill, 300ms);
	}
	button.button:hover {
		.icon {
			fill: #4E4E4E;
		}
	}
}

.default-avatar {
	background: #E0E0E0;
	fill: #EFEFEF;
    position: relative;
    top: -1px;
	display: inline-block;
	vertical-align: middle;
	
	&.size-100x100 {
		width: 100px;
		height: 100px;
	}
	&.size-304x304 {
		width: 304px;
		height: 304px;
	}
	&.size-50x50 {
		width: 50px;
		height: 50px;
	}
	&.size-30x30 {
		width: 30px;
		height: 30px;
	}
	&.size-24x24 {
		width: 24px;
		height: 24px;
	}
	&.rounded {
	    border-radius: 100%;
	}
}