<div class="inline" style="background:url('/media/images/pics/odnoetazhnye-iz-blokov.jpg') left center no-repeat;">
   <div class="inline-in"><a href="/proekty-domov/odnoetazhnye-iz-blokov/">Проекты одноэтажных домов из блоков</a></div>
</div>
<div class="inline" style="background:url('/media/images/pics/iz-blokov-dvuhetazhnye-s-erkerom.jpg') left center no-repeat;">
   <div class="inline-in"><a href="/proekty-domov/iz-blokov-dvuhetazhnye-s-erkerom/">Проекты двухэтажных домов из блоков с эркером</a></div>
</div>
<div class="inline" style="background:url('/media/images/pics/iz-blokov-dvuhetazhnye.jpg') left center no-repeat;">
   <div class="inline-in"><a href="/proekty-domov/iz-blokov-dvuhetazhnye/">Проекты двухэтажных домов из блоков</a></div>
</div>
<div class="inline" style="background:url('/media/images/pics/iz-blokov-s-mansardoj.jpg') left center no-repeat;">
   <div class="inline-in"><a href="/proekty-domov/iz-blokov-s-mansardoj/">Проекты домов из блоков с мансардой</a></div>
</div>
<div class="inline" style="background:url('/media/images/pics/iz-blokov-s-erkerom.jpg') left center no-repeat;">
   <div class="inline-in"><a href="/proekty-domov/iz-blokov-s-erkerom/">Проекты домов из блоков с экером</a></div>
</div>