<div class="inline" style="background:url('/media/images/pics/iz-gazobetona-s-cokolnym-etazhom.jpg') left center no-repeat;">
   <div class="inline-in"><a href="/proekty-domov/iz-gazobetona-s-cokolnym-etazhom/">Проекты домов из газобетона с цокольным этажом</a></div>
</div>
<div class="inline" style="background:url('/media/images/pics/iz-gazobetona-odnoetazhnye-do-100-m2.jpg') left center no-repeat;">
   <div class="inline-in"><a href="/proekty-domov/iz-gazobetona-odnoetazhnye-do-100-m2/">Проекты одноэтажных домов из газобетона до 10 м2</a></div>
</div>
<div class="inline" style="background:url('/media/images/pics/iz-gazobetona-odnoetazhnye.jpg') left center no-repeat;">
   <div class="inline-in"><a href="/proekty-domov/iz-gazobetona-odnoetazhnye/">Проекты одноэтажных домов из газобетона</a></div>
</div>
<div class="inline" style="background:url('/media/images/pics/iz-gazobetona-dvuhetazhnye-10х10.jpg') left center no-repeat;">
   <div class="inline-in"><a href="/proekty-domov/iz-gazobetona-dvuhetazhnye-10х10/">Проекты двухэтажных домов из газобетона 10х10</a></div>
</div>