[uwsgi]
plugins = python
chdir           = /opt/brusvyanka/

module          = ilya.wsgi
home            = /opt/brusvyanka/.env/

# общие настройки
# master
master          = true
# максимальное количество процессов
processes       = 5
harakiri        = 120
# полный путь к файлу сокета
# права доступа к файлу сокета
# chmod-socket    = 664
# очищать окружение от служебных файлов uwsgi по завершению
vacuum          = true
