{% extends "2016/base.html" %}
{% load thumbnail %}
{% load banner_list %}

{% block content %}
{% spaceless %}

<div class="breadcrumbs">
  <div class="row">
    <ul>
      <li><a href="/">Главная</a></li>
      <li><a href="{% url 'projects' %}">{{ page.name }}</a></li>
      {% if tag %}<li><a href="{{ tag.get_absolute_url }}">{{ tag.name }}</a></li>{% endif %}
      <li class="current"><span>{{ article.name }}</span></li>
    </ul>
  </div>
</div>

<div class="content row">
<!-- urls: {{ url_s }} -->

    <div class="orbit_cats_wrap">
		<ul class="orbit_cats" style="list-style:none;margin-left:0;margin-left:-10px;">
            {% for tag_t in tags %}
                <li  class="item {% if tag and tag.url == tag_t.url %} current {% endif %}">
					<a href="{{ tag_t.get_absolute_url }}" >
	                    {% thumbnail tag_t.img "130x130"  crop="center" as thumb  %}
						    <img src="{{ thumb.url }}" alt="{{ tag.h1 }}"  />
	                    {% empty %}
	                        <img src="http://dummyimage.com/130x130/000/00ffd5.png" alt="" />
	                    {% endthumbnail %}
	                </a>
					<a href="{{ tag_t.get_absolute_url }}" >
						<span class="item-name">{{ tag_t.name }}</span>
					</a>
				</li>
            {% endfor %}
		</ul>
		<a id="prev" style="display:none;"></a>
		<a id="next" style="display:none;"></a>
	</div>
	
	<div class="orbit-mobile_cats_wrap show-for-small-only">
		<select name="project_cats" onchange="if (this.value) window.location.href=this.value">
			{% for tag_t in tags %}
				<option {% if tag and tag.url == tag_t.url %}selected="selected"{% endif %} value="{{ tag_t.get_absolute_url }}">{{ tag_t.name }}</option>
			{% endfor %}
		</select>
	</div>

    <div class="soda-grid_row projects-cont row">
        <div class="col3">
            {% show_articles_build article.pk %}
        </div>
        <!-- col3 -->

        <div class="col1">
            <div class="post-item">
					<div class="post-item_header">
						<div class="post-item_details">
							<h1 class="post-item_title">
								{{ page.h1 }}
							</h1>
						</div>
					</div>
                <div class="post-item_body">
                    <div class="post-item_ext" style="margin-top: 3px;">
                        {{ page.text|safe }}
                    </div>
                </div>

            </div>
            <!-- post-item -->

        </div>
        <!-- col1 -->

        <div class="col2">
            <div class="order-form">
                <h3>Заказать звонок</h3>

                <p>оставьте заявку и мы перезвоним вам в ближайшее время</p>

                <form action="" class="form_recall">{% csrf_token %}
                    <div class="field">
                        <input type="text" placeholder="Как к Вам обращаться" name="name"/>
                    </div>
                    <div class="field">
                        <input type="text" placeholder="Контактный телефон" name="phone"/>
                    </div>
                    <div class="field field-submit">
                        <input class="button" type="submit" value="Оставить заявку"/>
                    </div>
                </form>
            </div>
        </div>
        <!-- col2 -->

    </div>

</div>
{% endspaceless %}
{% endblock %}
{% block head_title %}{{page.title}}{% endblock %}