{% spaceless %}
<!-- Yandex.Metrika counter -->
<div style="display:none;"><script type="text/javascript">
(function(w, c) {
    (w[c] = w[c] || []).push(function() {
            try {
	                w.yaCounter9636880 = new Ya.Metrika({id:9636880, enableAll: true, webvisor:true});
			        }
				        catch(e) { }
					    });
					    })(window, "yandex_metrika_callbacks");
					    </script></div>
					    <script src="//mc.yandex.ru/metrika/watch.js" type="text/javascript" defer="defer"></script>
					    <noscript><div><img src="//mc.yandex.ru/watch/9636880" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
					    <!-- /Yandex.Metrika counter -->



<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-61607617-1', 'auto');
  ga('send', 'pageview');

</script>




<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-47795070-1']);
  _gaq.push(['_setDomainName', 'ilyaeliseev.ru']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
{% endspaceless %}