{% extends "2016/base.html" %}
{% load thumbnail %}

{% block content %}
{% load banner_list %}

<div class="breadcrumbs">
  <div class="row">
    <ul>
      <li><a href="/">Главная</a></li>
      {% if 'novosti/' in page.url %}<li><a href="/novosti/">Новости</a></li>
      {% elif 'o-nas/' in page.url %}<li><a href="/o-nas/">О нас</a></li>
      {% elif 'stati/' in page.url %}<li><a href="/stati/">Статьи</a></li>
      {% elif 'stroitelstvo/' in page.url %}<li><a href="/stroitelstvo/">Строительство</a></li>
      {% endif %}
      <li class="current"><span>{{ page.name }}</span></li>
    </ul>
  </div>
</div>
  
	<div class="content row">
	  <div class="soda-grid_row row">
  	  
    	 <div class="col3 ">
        {% if page.url == 'otzyvi' %}
          <div class="order-form order-form-dubl">
            <h3>Заказать консультацию</h3>
            <p>оставьте заявку и мы перезвоним вам в ближайшее время</p>
            <form action="" class="form_order" data-goal="feedback_goal">{% csrf_token %}
             <div class="field">
              <input type="text" placeholder="Как к Вам обращаться" name="name"/>
             </div>
             <div class="field">
              <input type="text" placeholder="Электронная почта" name="email"/>
             </div>
             <div class="field">
              <input type="text" placeholder="Контактный телефон" name="phone"/>
             </div>
             <div class="field field-submit">
              <input class="button" type="submit" value="Оставить заявку" />
             </div>
                      <input type="hidden" name="proj" value="страница отзывы"/>
            </form>
           </div>
        {% else %}
          {% show_banner_list_left %}
        {% endif %}
			</div><!-- col3 -->

			<div class="col1">
				<div class="post-item">
					<div class="post-item_header">
						<div class="post-item_details">
							<h1 class="post-item_title">
								{{ page.h1 }}
							</h1>
						</div>
					</div>

					<div class="post-item_body">
						<div class="post-item_ext">
							{{ page.body|safe }}
							{{ page.footer_body|safe }}
						</div>
					</div>

				</div><!-- post-item -->

			</div><!-- col1 -->

			<div class="col2">
                {% show_banner_list %}
			</div><!-- col2 -->
      
		</div>
	</div>
  <style type="text/css">
    div.inline { float:left; ;vertical-align:middle; width:25%; height:50px; padding: 0px 10px; margin-top:10px; margin-bottom:10px; padding-left:60px;}

    div.inline-in {  height:50px; display:table-cell;   vertical-align:middle; }
    div.inline-block { margin-top:50px;}
    div.inline a { color: #333333;  }
    div.inline a:hover { text-decoration: underline; text-decoration-style: dashed; }   

    .clearBoth { clear:both; }
</style>
<div class="inline-block">
    <div class="inline" style="background:url('/media/images/pics/rekonstrukciya/1.jpg') left center no-repeat;">
        <div class="inline-in"><a href="/rekonstrukciya/vosstanovlenie-fundament-doma/">Восстановление фундамента</a></div>
    </div>
    <div class="inline" style="background:url('/media/images/pics/rekonstrukciya/3.jpg') left center no-repeat;">
        <div class="inline-in"><a href="/rekonstrukciya/vosstanovlenie-doma-posle-pozhara/">Восстановление дома после пожара</a></div>
    </div>
    <div class="inline" style="background:url('/media/images/pics/rekonstrukciya/4.jpg') left center no-repeat;">
        <div class="inline-in"><a href="/rekonstrukciya/vosstanovlenie-derevjannyh-domov/">Восстановление деревянных домов</a></div>
    </div>
    <div class="inline" style="background:url('/media/images/pics/rekonstrukciya/5.jpg') left center no-repeat;">
        <div class="inline-in"><a href="/rekonstrukciya/vosstanovlenie-derevenskogo-doma/">Восстановление деревенского дома</a></div>
    </div>
    <div class="inline" style="background:url('/media/images/pics/rekonstrukciya/2.jpg') left center no-repeat;">
        <div class="inline-in"><a href="/rekonstrukciya/kryshi-chastnogo-doma/">Реконструкция крыши частного дома</a></div>
    </div>
    <div class="inline" style="background:url('/media/images/pics/rekonstrukciya/6.jpg') left center no-repeat;">
        <div class="inline-in"><a href="/rekonstrukciya/derevyannykh-domov/">Достройка и реконструкция деревянных домов</a></div>
    </div>
    <div class="inline" style="background:url('/media/images/pics/rekonstrukciya/7.jpg') left center no-repeat;">
        <div class="inline-in"><a href="/rekonstrukciya/starogo-doma/">Реконструкция старых домов - ветхих и аварийных</a></div>
    </div>
    <div class="inline" style="background:url('/media/images/pics/rekonstrukciya/8.jpg') left center no-repeat;">
        <div class="inline-in"><a href="/rekonstrukciya/sgorevshego-doma/">Реконструкция сгоревшего дома</a></div>
    </div>
    <div class="inline" style="background:url('/media/images/pics/rekonstrukciya/9.jpg') left center no-repeat;">
        <div class="inline-in"><a href="/rekonstrukciya/kottedzhej/">Реконструкция коттеджей</a></div>
    </div>
    <div class="inline" style="background:url('/media/images/pics/rekonstrukciya/10.jpg') left center no-repeat;">
        <div class="inline-in"><a href="/rekonstrukciya/karkasnogo-doma/">Реконструкция каркасного дома</a></div>
    </div>
    <div class="inline" style="background:url('/media/images/pics/rekonstrukciya/11.jpg') left center no-repeat;">
        <div class="inline-in"><a href="/rekonstrukciya/i-pristrojka-k-domu/">Реконструкция части дома</a></div>
    </div>
    <div class="inline" style="background:url('/media/images/pics/rekonstrukciya/12.jpg') left center no-repeat;">
        <div class="inline-in"><a href="/rekonstrukciya/fundamenta-derevyannogo-doma/">Реконструкция фундамента деревянного дома</a></div>
    </div>
    <div class="inline" style="background:url('/media/images/pics/rekonstrukciya/13.jpg') left center no-repeat;">
        <div class="inline-in"><a href="/rekonstrukciya/domov-iz-brusa/">Реконструкция домов из бруса</a></div>
    </div>
    <div class="inline" style="background:url('/media/images/pics/rekonstrukciya/14.jpg') left center no-repeat;">
        <div class="inline-in"><a href="/rekonstrukciya/doma-v-derevne/">Реконструкция дома в деревне</a></div>
    </div>
    <div class="inline" style="background:url('/media/images/pics/rekonstrukciya/15.jpg') left center no-repeat;">
        <div class="inline-in"><a href="/rekonstrukciya/dachnogo-doma/">Достройка и реконструкция дачных домов</a></div>
    </div>
    <div class="inline" style="background:url('/media/images/pics/rekonstrukciya/16.jpg') left center no-repeat;">
        <div class="inline-in"><a href="/rekonstrukciya/chastnogo-doma/">Реконструкция частного дома</a></div>
    </div>
    <div class="inline">
        <div class="inline-in"></div>
    </div>
    <div class="inline" style="background:url('/media/images/pics/rekonstrukciya/17.jpg') left center no-repeat;">
        <div class="inline-in"><a href="/rekonstrukciya/brevenchatogo-doma/">Реконструкция бревенчатого дома</a></div>
    </div>
    <div class="inline" style="background:url('/media/images/pics/rekonstrukciya/18.jpg') left center no-repeat;">
        <div class="inline-in"><a href="/rekonstrukciya/bani/">Реконструкция бани</a></div>
    </div>
    <div class="inline">
        <div class="inline-in"></div>
    </div>
</div>
{% endblock %}

{% block head_title %}{{ page.title }}{% endblock %}
