{% extends "2016/base.html" %}
{% load thumbnail %}

{% block content %}
{% load banner_list %}

<div class="breadcrumbs">
  <div class="row">
    <ul>
      <li><a href="/">Главная</a></li>
      {% if 'novosti/' in page.url %}<li><a href="/novosti/">Новости</a></li>
      {% elif 'o-nas/' in page.url %}<li><a href="/o-nas/">О нас</a></li>
      {% elif 'stati/' in page.url %}<li><a href="/stati/">Статьи</a></li>
      {% elif 'stroitelstvo/' in page.url %}<li><a href="/stroitelstvo/">Строительство</a></li>
      {% endif %}
      <li class="current"><span>{{ page.name }}</span></li>
    </ul>
  </div>
</div>
  
	<div class="content row">
	  <div class="soda-grid_row row">
  	  
    	 <div class="col3 ">
        {% if page.url == 'otzyvi' %}
          <div class="order-form order-form-dubl">
            <h3>Заказать консультацию</h3>
            <p>оставьте заявку и мы перезвоним вам в ближайшее время</p>
            <form action="" class="form_order" data-goal="feedback_goal">{% csrf_token %}
             <div class="field">
              <input type="text" placeholder="Как к Вам обращаться" name="name"/>
             </div>
             <div class="field">
              <input type="text" placeholder="Электронная почта" name="email"/>
             </div>
             <div class="field">
              <input type="text" placeholder="Контактный телефон" name="phone"/>
             </div>
             <div class="field field-submit">
              <input class="button" type="submit" value="Оставить заявку" />
             </div>
                      <input type="hidden" name="proj" value="страница отзывы"/>
            </form>
           </div>
        {% else %}
          {% show_banner_list_left %}
        {% endif %}
			</div><!-- col3 -->

			<div class="col1">
				<div class="post-item">
					<div class="post-item_header">
						<div class="post-item_details">
							<h1 class="post-item_title">
								{{ page.h1 }}
							</h1>
						</div>
					</div>

					<div class="post-item_body">
						<div class="post-item_ext">
							{{ page.body|safe }}
							{{ page.footer_body|safe }}
						</div>
					</div>

				</div><!-- post-item -->

			</div><!-- col1 -->


			<div class="col2">
                {% show_banner_list %}
			</div><!-- col2 -->
      
		</div>
	</div>

<div class="block block--scheme block--parralax" style="background-image: url({{ parralaxs.index4.img.url }});" {% include "2016/_parralax_settings.html" %}>
<div class="row">
    <h2 class="block_title">Схема сотрудничества</h2>

    <div class="row">
        <div class="item columns small-12 medium-2 medium-offset-1">
            <div class="content"><a href="#" class="js__project-order"><img src="{% static '2016/images/icon--scheme-1.png' %}"/></a>
                Заявка<br/>клиента</div>
        </div>
        <div class="item columns small-12 medium-2">
            <div class="content"><img src="{% static '2016/images/icon--scheme-2.png' %}" />
                Связь с менеджером.<br/>Выявление<br/>предпочтений.</div>
        </div>
        <div class="item columns small-12 medium-2">
            <div class="content"><img src="{% static '2016/images/icon--scheme-3.png' %}" alt="" />
                Личная встеча.<br/>Обсуждение нюансов.<br/>Согласование бюджета.</div>
        </div>
        <div class="item columns small-12 medium-2">
            <div class="content"><img src="{% static '2016/images/icon--scheme-4.png' %}" />
                Внесение предоплаты<br/>и начало<br/>реализации проекта.</div>
        </div>
        <div class="item columns small-12 medium-2 end">
            <div class="content"><img src="{% static '2016/images/icon--scheme-5.png' %}" />
                Получение<br/>дома мечты.</div>
        </div>
    </div>
</div>
</div>


{% endblock %}

{% block head_title %}{{ page.title }}{% endblock %}
