{% extends "2016/base.html" %}

{% load thumbnail %}
{% load banner_list %}

{% block content %}

<div class="breadcrumbs">
  <div class="row">
    <ul>
      <li><a href="/">Главная</a></li>
			<li class="current"><span>{{ page.name }}</span></li>
    </ul>
  </div>
</div>

<div class="content row">

	<div class="orbit_cats_wrap">
		<ul class="orbit_cats" style="list-style:none;margin-left:0;margin-left:-10px;">
      {% for tag in tags %}
        <li  class="item {% if page.url == tag.url %} current {% endif %}">
					<a href="{{ tag.get_absolute_url }}" >
            {% thumbnail tag.img "130x130"  crop="center" as thumb  %}
					    <img src="{{ thumb.url }}" alt="{{ tag.h1 }}" />
            {% empty %}
              <img src="http://dummyimage.com/130x130/000/00ffd5.png" alt="" />
            {% endthumbnail %}
          </a>
					<a href="{{ tag.get_absolute_url }}" >
						<span class="item-name">{{ tag.name }}</span>
					</a>
				</li>
      {% endfor %}
		</ul>
		<a id="prev" style="display:none;"></a>
		<a id="next" style="display:none;"></a>
	</div>
		
	<div class="orbit-mobile_cats_wrap show-for-small-only">
		<select name="project_cats" onchange="window.location.href=this.value">
  		{% with has_selected=false %}
    		{% for tag in tags %}
    		  {% if page.url == tag.url %}
    		    {% with has_selected=true %}{% endwith %}
    		  {% endif %}
        {% endfor %}
      
      
        {% if has_selected == true %}
  		    <option value="/proekty-domov/">Все типы</option>
  		  {% else %}
  		    <option value="/proekty-domov/" selected="selected">Все типы</option>
  		  {% endif %}
    		
  			{% for tag in tags %}
  				<option {% if page.url == tag.url %}selected="selected"{% endif %} value="{{ tag.get_absolute_url }}">{{ tag.name }}</option>
  			{% endfor %}
			{% endwith %}
		</select>
	</div>

  <div class="block block--port">
    <div class="row">
      <h1 class="listing_title">{{ page.h1 }}</h1>
            
      <div class="row">
        {% for project in projects %}                
          <div class="item columns small-12 medium-4 large-3">
            {% thumbnail project.mainphoto "271x192" quality=70 crop="center" as photo %}
              <a href="{{ project.get_absolute_url }}" class="img" style="background: url({{ photo.url }}) center center no-repeat;" title="{{ project.title }}"></a>
            {% endthumbnail %}
              <a href="{{ project.get_absolute_url }}" class="title">{{ project.title }}</a>
            <div class="desc">{{ project.sq|floatformat }}м² | Артикул: {{ project.articul }}</div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>

	<hr />
  <br/><br/>
		
	<div class="soda-grid_row projects-cont row">
		<div class="col3">
      {% show_articles %}
		</div><!-- col3 -->

		<div class="col1">
			<div class="post-item">
				<div class="post-item_body">
					<div class="post-item_ext" style="margin-top: 3px;">
            {{ page.body|safe }}
					</div>
				</div>
			</div><!-- post-item -->
		</div><!-- col1 -->

		<div class="col2">
      <div class="order-form">
				<h3>Заказать звонок</h3>
				<p>оставьте заявку и мы перезвоним вам в ближайшее время</p>
				<form action="" class="form_recall" data-goal="projects_goal">{% csrf_token %}
					<div class="field">
						<input type="text" placeholder="Как к Вам обращаться" name="name"/>
					</div>
					<div class="field">
						<input type="text" placeholder="Контактный телефон" name="phone"/>
					</div>
					<div class="field field-submit">
						<input class="button" type="submit" value="Оставить заявку" />
					</div>
				</form>
			</div>
		</div><!-- col2 -->
	</div>
  <style type="text/css">
    div.inline { float:left; ;vertical-align:middle; width:25%; height:50px; padding: 0px 10px; margin-top:10px; margin-bottom:10px; padding-left:60px;}

    div.inline-in {  height:50px; display:table-cell;   vertical-align:middle; }
    div.inline-block { margin-top:50px;}
    div.inline a { color: #333333;  }
    div.inline a:hover { text-decoration: underline; text-decoration-style: dashed; }   

    .clearBoth { clear:both; }
</style>
<div class="inline-block">
    <div class="inline" style="background:url('/media/images/pics/rekonstrukciya/1.jpg') left center no-repeat;">
        <div class="inline-in"><a href="/rekonstrukciya/vosstanovlenie-fundament-doma/">Восстановление фундамента</a></div>
    </div>
    <div class="inline" style="background:url('/media/images/pics/rekonstrukciya/3.jpg') left center no-repeat;">
        <div class="inline-in"><a href="/rekonstrukciya/vosstanovlenie-doma-posle-pozhara/">Восстановление дома после пожара</a></div>
    </div>
    <div class="inline" style="background:url('/media/images/pics/rekonstrukciya/4.jpg') left center no-repeat;">
        <div class="inline-in"><a href="/rekonstrukciya/vosstanovlenie-derevjannyh-domov/">Восстановление деревянных домов</a></div>
    </div>
    <div class="inline" style="background:url('/media/images/pics/rekonstrukciya/5.jpg') left center no-repeat;">
        <div class="inline-in"><a href="/rekonstrukciya/vosstanovlenie-derevenskogo-doma/">Восстановление деревенского дома</a></div>
    </div>
    <div class="inline" style="background:url('/media/images/pics/rekonstrukciya/2.jpg') left center no-repeat;">
        <div class="inline-in"><a href="/rekonstrukciya/kryshi-chastnogo-doma/">Реконструкция крыши частного дома</a></div>
    </div>
    <div class="inline" style="background:url('/media/images/pics/rekonstrukciya/6.jpg') left center no-repeat;">
        <div class="inline-in"><a href="/rekonstrukciya/derevyannykh-domov/">Достройка и реконструкция деревянных домов</a></div>
    </div>
    <div class="inline" style="background:url('/media/images/pics/rekonstrukciya/7.jpg') left center no-repeat;">
        <div class="inline-in"><a href="/rekonstrukciya/starogo-doma/">Реконструкция старых домов - ветхих и аварийных</a></div>
    </div>
    <div class="inline" style="background:url('/media/images/pics/rekonstrukciya/8.jpg') left center no-repeat;">
        <div class="inline-in"><a href="/rekonstrukciya/sgorevshego-doma/">Реконструкция сгоревшего дома</a></div>
    </div>
    <div class="inline" style="background:url('/media/images/pics/rekonstrukciya/9.jpg') left center no-repeat;">
        <div class="inline-in"><a href="/rekonstrukciya/kottedzhej/">Реконструкция коттеджей</a></div>
    </div>
    <div class="inline" style="background:url('/media/images/pics/rekonstrukciya/10.jpg') left center no-repeat;">
        <div class="inline-in"><a href="/rekonstrukciya/karkasnogo-doma/">Реконструкция каркасного дома</a></div>
    </div>
    <div class="inline" style="background:url('/media/images/pics/rekonstrukciya/11.jpg') left center no-repeat;">
        <div class="inline-in"><a href="/rekonstrukciya/i-pristrojka-k-domu/">Реконструкция части дома</a></div>
    </div>
    <div class="inline" style="background:url('/media/images/pics/rekonstrukciya/12.jpg') left center no-repeat;">
        <div class="inline-in"><a href="/rekonstrukciya/fundamenta-derevyannogo-doma/">Реконструкция фундамента деревянного дома</a></div>
    </div>
    <div class="inline" style="background:url('/media/images/pics/rekonstrukciya/13.jpg') left center no-repeat;">
        <div class="inline-in"><a href="/rekonstrukciya/domov-iz-brusa/">Реконструкция домов из бруса</a></div>
    </div>
    <div class="inline" style="background:url('/media/images/pics/rekonstrukciya/14.jpg') left center no-repeat;">
        <div class="inline-in"><a href="/rekonstrukciya/doma-v-derevne/">Реконструкция дома в деревне</a></div>
    </div>
    <div class="inline" style="background:url('/media/images/pics/rekonstrukciya/15.jpg') left center no-repeat;">
        <div class="inline-in"><a href="/rekonstrukciya/dachnogo-doma/">Достройка и реконструкция дачных домов</a></div>
    </div>
    <div class="inline" style="background:url('/media/images/pics/rekonstrukciya/16.jpg') left center no-repeat;">
        <div class="inline-in"><a href="/rekonstrukciya/chastnogo-doma/">Реконструкция частного дома</a></div>
    </div>
    <div class="inline">
        <div class="inline-in"></div>
    </div>
    <div class="inline" style="background:url('/media/images/pics/rekonstrukciya/17.jpg') left center no-repeat;">
        <div class="inline-in"><a href="/rekonstrukciya/brevenchatogo-doma/">Реконструкция бревенчатого дома</a></div>
    </div>
    <div class="inline" style="background:url('/media/images/pics/rekonstrukciya/18.jpg') left center no-repeat;">
        <div class="inline-in"><a href="/rekonstrukciya/bani/">Реконструкция бани</a></div>
    </div>
    <div class="inline">
        <div class="inline-in"></div>
    </div>
</div>
</div><!-- content -->

{% endblock %}

{% block head_title %}{{ page.title }}{% endblock %}
